[MAIN]
disable=missing-docstring,no-else-return,no-else-continue,no-else-raise,no-else-break,bad-continuation,duplicate-code,too-many-branches,too-many-nested-blocks,too-many-locals,too-many-statements,too-many-public-methods,fixme,too-many-return-statements
